@mixin flex($gap: 0px) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $gap;
}

@mixin flex-col($gap: 0px) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap;
}

@mixin text-property {
  font-kerning: none;
  font-variant-numeric: stacked-fractions ordinal;
  font-feature-settings: "dlig" on, "liga" off;
}

$dark-bg: #090e17;
$light: #e6e6e6;
$lilac: #858ab5;
$blue: #151e2d;
$brown: #805140;
$orange: #c96845;

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.woff2") format("woff2")
    url("./fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2")
    url("./fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Light.woff2") format("woff2")
    url("./fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-ExtraLight.woff2") format("woff2")
    url("./fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Mirra Auriolic", sans-serif;
  src: url("./fonts/mirra.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poiret One", sans-serif;
  src: url("./fonts/PoiretOne-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: $dark-bg;
  background-repeat: no-repeat;
  color: $light;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  position: relative;
  color: $light;
  text-decoration: none;
  transition: 0.5s;
  &:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
}

a:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header,
.main,
.footer {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.container {
  position: relative;
  max-width: 1489px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 67px;
  & .container {
    @include flex(30px);
    justify-content: space-between;
  }
}

.submenu {
  width: 100%;
  height: 614px;
  position: absolute;
  top: 0;
  z-index: 4;
  display: flex;
  @include text-property;
  font-size: 24px;
  letter-spacing: -1.2px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: 0.5s;
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition: 0.5s;
  }
  & .container {
    @include flex(30px);
    justify-content: space-between;
  }
  &::after {
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    background-color: $brown;
  }
  &::before {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: -1;
    background-color: $blue;
  }
  &__menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__info {
    font-size: 24px;
    font-weight: 300;
    line-height: 45.5px;
    letter-spacing: -1.2px;
  }
  &__text {
    @include flex-col(30px);
    justify-content: space-between;
    align-items: end;
    height: 100%;
    padding: 135px 0 135px;
  }
  &__contacts {
    width: fit-content;
    @include flex-col;
    text-align: right;
    font-size: 24px;
    font-weight: 300;
    line-height: 45.5px;
    letter-spacing: -1.2px;
  }
  &__title {
    font-family: "Mirra Auriolic", sans-serif;
    font-size: 90px;
    letter-spacing: -4.5px;
  }
  &__letter {
    position: absolute;
    top: 48%;
    left: 43%;
    &::after {
      content: "";
      display: inline-block;
      width: 53.5vw;
      position: absolute;
      top: 0;
      left: 88%;
      border-bottom: 1px solid $light;
    }
    &-size {
      font-family: "Mirra Auriolic", sans-serif;
      font-size: 171px;
      font-style: normal;
      font-weight: 400;
      line-height: 51.9px;
      letter-spacing: -8.5px;
    }
  }
}

.menuList {
  @include flex-col(35px);
  line-height: 80%;
}

.burger {
  position: relative;
  z-index: 5;
  width: 72px;
  height: 67px;
  @include flex-col(8px);
  align-items: center;
  background: $brown;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background: $orange;
  }
  &__line {
    width: 45px;
    height: 2px;
    background-color: $light;
    border-radius: 5px;
    transition: 0.5s;
  }
  &.active .burger__line:nth-of-type(1) {
    display: none;
  }
  &.active .burger__line:nth-of-type(2) {
    transform: rotate(45deg);
  }
  &.active .burger__line:nth-of-type(3) {
    transform: rotate(-45deg);
    margin-top: -10px;
  }
}

.circle {
  position: absolute;
  z-index: -1;
  &.circle-main {
    width: 800px;
    height: 800px;
    top: -291px;
    left: -295px;
    transform: scale(0.55);
    background: url(./img/main-circle.png) no-repeat;
  }
  &.circle-header {
    width: 800px;
    height: 800px;
    top: -322px;
    left: -312px;
    transform: scale(0.55);
    background: url(./img/master-circle.png) no-repeat;
  }
  &.circle-foryou {
    z-index: 1;
    width: 400px;
    height: 400px;
    top: 300px;
    right: 470px;
    transform: scale(0.55);
    background: url(./img/foryou-circle.png) no-repeat;
  }
  &.circle-reels {
    width: 400px;
    height: 400px;
    bottom: -179px;
    transform: scale(0.55);
    background: url(./img/reels-circle.png) no-repeat;
  }
  &.circle-master {
    width: 800px;
    height: 800px;
    bottom: 306px;
    left: -146px;
    transform: scale(0.55);
    background: url(./img/master-circle.png) no-repeat;
    &-bottom {
      width: 400px;
      height: 400px;
      bottom: 166px;
      right: -226px;
      transform: scale(0.55);
      background: url(./img/reels-circle.png) no-repeat;
    }
  }
  &.circle-spa {
    width: 400px;
    height: 400px;
    left: -78px;
    bottom: -230px;
    z-index: 0;
    transform: scale(0.55);
    background: url(./img/reels-circle.png) no-repeat;
  }
  &.circle-land {
    width: 400px;
    height: 400px;
    top: -95px;
    right: 390px;
    transform: scale(0.55);
    background: url(./img/reels-circle.png) no-repeat;
  }
}

.color {
  position: absolute;
  height: 1500px;
  width: 100%;
  background: linear-gradient(201deg, #f8956a 33%, rgba(255, 102, 36, 0) 71%);
  mix-blend-mode: overlay;
}

.effect {
  position: absolute;
  right: 0;
  width: 996px;
  height: 3703px;
  border: 1px solid #000;
  opacity: 0.3;
  background: $dark-bg;
  filter: blur(532px);
  &-reels {
    position: absolute;
    bottom: 0;
    right: -10%;
    width: 1063px;
    height: 1063px;
    border-radius: 1063px;
    background: #313c50;
    filter: blur(297px);
  }
}

.slider {
  position: relative;
  &__img {
    width: 2000px;
    display: flex;
    gap: 18px;
  }
  &__arrow .arrow-black:hover {
    fill: #000;
  }
  &__num {
    display: flex;
    gap: 10px;
    justify-content: end;
    position: relative;
    top: 38px;
    color: #2e3c55;
    @include text-property;
    font-family: "Poiret One";
    font-size: 66px;
    line-height: 80.5%;
    letter-spacing: -3.3px;
    &-start {
      color: #c76b4f;
    }
  }
}

.slider__arrow-right,
.slider__arrow-left {
  position: absolute;
  z-index: 1;
  fill: $light;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    fill: $orange;
  }
}

.main {
  background: linear-gradient(250deg, rgba(9, 14, 23, 0) 0, #090e17 150%),
    url("./img/main.jpg"), 0px 0px / 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2228px;
  overflow-x: hidden;
}

.mainScreen {
  height: 1000px;
  position: relative;
  z-index: 1;
  &__desc {
    position: absolute;
    top: 35%;
    width: 22.6%;
    padding-left: 35px;
    border-left: 2px solid $light;
  }
  &__text {
    position: absolute;
    bottom: 0;
    @include text-property;
  }
  &__title {
    font-family: "Mirra Auriolic", sans-serif;
    font-size: 198.5px;
    font-weight: 400;
    line-height: 126.6px;
    letter-spacing: -10px;
    &-letter {
      position: relative;
      display: inline-block;
      margin: 0 85px;
    }
  }
}

.title {
  @include text-property;
  font-family: "Mirra Auriolic", sans-serif;
  font-size: 90px;
  font-weight: 400;
  line-height: 96%;
  letter-spacing: -4.5px;
  &-big {
    @include text-property;
    font-family: "Mirra Auriolic", sans-serif;
    font-size: 220px;
    font-weight: 400;
    line-height: 78%;
    letter-spacing: -11px;
  }
  &-thebiggest {
    @include text-property;
    font-family: "Mirra Auriolic", sans-serif;
    color: #2e3c55;
    font-size: 538px;
    line-height: 92%;
    letter-spacing: -26.9px;
  }
}

.form {
  padding: 150px 0 265px;
  & .container {
    height: 80px;
    @include flex;
    flex-wrap: nowrap;
    background-color: $blue;
  }
  & form {
    width: 76%;
    height: 80px;
    @include flex;
    flex-wrap: nowrap;
  }
  &__title {
    width: 355px;
    height: 100%;
    @include flex;
    justify-content: center;
    color: $lilac;
    @include text-property;
    font-family: "Mirra Auriolic", sans-serif;
    font-size: 66px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: -3.3px;
  }
  .btn {
    width: 30%;
  }
  &__input {
    width: 36%;
    height: 100%;
    -webkit-appearance: none;
    padding-left: 37px;
    background-color: $blue;
    outline: 0;
    border: 0;
    border-left: 1px solid #4a4e73;
    color: $lilac;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 140%;
    transition: 0.5s;
    &:focus {
      color: $light;
      font-family: "Inter", sans-serif;
      font-size: 20px;
      line-height: 140%;
      &::placeholder {
        color: $light;
      }
    }
    &::placeholder {
      color: $lilac;
      font-family: "Inter", sans-serif;
      font-size: 20px;
      line-height: 140%;
      transition: 0.5s;
    }
    &::-webkit-input-placeholder {
      color: $lilac;
      font-family: "Inter", sans-serif;
      font-size: 20px;
      line-height: 140%;
    }
    &::-moz-placeholder {
      color: $lilac;
      font-family: "Inter", sans-serif;
      font-size: 20px;
      line-height: 140%;
    }
    &::-ms-input-placeholder {
      color: $lilac;
      font-family: "Inter", sans-serif;
      font-size: 20px;
      line-height: 140%;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: $lilac;
      -webkit-box-shadow: 0 0 0px 40rem $blue inset;
      font-family: "Inter", sans-serif;
      font-size: 20px;
      line-height: 140%;
    }
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $light;
    }
  }
}

.btn {
  height: 100%;
  width: 357px;
  border: 0;
  outline: 0;
  background-color: $brown;
  color: $light;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background-color: $orange;
  }
}

.foryou {
  position: relative;
  margin-bottom: 275px;
  &__title {
    width: 60%;
    margin-top: 200px;
    text-align: left;
    color: $lilac;
    font-size: 150px;
    line-height: 121px;
    letter-spacing: normal;
  }
}

.tree {
  position: absolute;
  right: 0;
  width: 47%;
  height: 100%;
  &-main {
    top: 26%;
    background: url("./img/tree.png") no-repeat;
  }
  &-copy {
    top: 40%;
    background: url("./img/tree-copy.png") no-repeat;
  }
}

.list {
  @include flex;
  gap: 130px 30px;
  justify-content: space-between;
  &__item {
    width: 23%;
    @include text-property;
    font-family: "Poiret One", sans-serif;
    font-size: 65px;
    line-height: 77px;
    letter-spacing: -3.25px;
    &-color {
      margin-top: 15px;
      color: $lilac;
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-weight: 200;
      line-height: 80%;
      letter-spacing: -1.2px;
    }
  }
}

.reels {
  position: relative;
  margin-bottom: 335px;
  & .title {
    margin-left: 10px;
    line-height: 48px;
  }
}

.slider-reels {
  & .slick-slide {
    margin-right: 18px;
  }
  & img {
    height: 603px;
    border-radius: 29px;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      transform: translateY(-20px);
      box-shadow: #754c3f 0px 15px 50px -20px;
    }
  }
  & svg {
    bottom: -80px;
    &.slider__arrow-right {
      margin-left: 350px;
      bottom: -82px;
    }
  }
}

.master {
  margin-bottom: 573px;
  &__top {
    display: flex;
    align-items: flex-start;
    margin-bottom: 178px;
  }
  &__aboutHouse {
    width: 50%;
    @include flex-col(120px);
    &-text {
      width: 55%;
    }
  }
  &__floor {
    display: flex;
    position: relative;
    left: 15px;
    & > div {
      width: 373px;
    }
    &-title {
      font-family: "Poiret One";
      font-size: 66px;
      font-style: normal;
      font-weight: 400;
      line-height: 80.5%;
      letter-spacing: -3.3px;
    }
    &-list {
      @include flex-col(26px);
      margin: 66px 61px 0 38px;
      font-size: 24px;
      font-weight: 300;
      line-height: normal;
    }
  }
  &__middle {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto 570px;
    position: relative;
    display: flex;
    &-imgTop {
      max-height: 809px;
      position: relative;
      right: 110px;
    }
    & .master__imgBlock {
      position: relative;
      z-index: 1;
      top: 720px;
      & p {
        width: 150px;
        margin-top: 18px;
      }
    }
  }
  &__square-brown {
    position: absolute;
    z-index: -1;
    left: 972px;
    bottom: 0;
    height: 1652px;
    width: 372px;
    background-color: $brown;
  }
  &__square-letter {
    position: absolute;
    bottom: 740px;
    left: 115px;
    @include text-property;
    font-family: "Mirra Auriolic";
    font-size: 171.078px;
    line-height: 51.894px;
    letter-spacing: -8.554px;
  }
  &__bottom {
    position: relative;
    margin-bottom: 364px;
    & .master__imgBlock {
      display: flex;
      gap: 146px;
      align-items: center;
      margin-left: 21%;
      & p {
        width: 252px;
      }
    }
    & .master__imgBlock:last-of-type {
      position: relative;
      bottom: 110px;
      z-index: -1;
      flex-direction: row-reverse;
    }
  }
  &__text-one {
    position: absolute;
    top: -110px;
    left: -690px;
    white-space: nowrap;
  }
  &__text-two {
    position: absolute;
    z-index: -1;
    top: -382.5px;
    white-space: nowrap;
  }
  &__lastText {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    &-orange {
      width: 22%;
      color: $brown;
      @include text-property;
      font-family: "Poiret One";
      font-size: 70.53px;
      line-height: 60%;
      letter-spacing: -3.526px;
    }
    &-text {
      width: 45%;
      margin-top: 70px;
      margin-left: -42px;
      transform: translateX(100px);
      opacity: 0;
      visibility: hidden;
    }
  }
}

.slider-master {
  height: 612px;
  & .slick-list {
    width: 1920px;
    overflow: visible;
    margin: 0 auto;
    padding: 0 !important;
  }
  & .slick-center {
    .master__lastText-text {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      transition: 0.5s;
    }
    & img {
      position: relative;
      z-index: 1;
      transform: scale(1.15);
      opacity: 1;
      transition: 0.5s;
    }
  }
  & img {
    height: 576px;
    aspect-ratio: 1 / 1;
    opacity: 0.4;
    transition: 0.5s;
  }
  & svg {
    top: 47%;
    left: 28%;
    &.slider__arrow-right {
      right: 28%;
      left: unset;
    }
  }
}

.spa {
  position: relative;
  margin-bottom: 322px;
  background: url("/css/img/spa-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  & .container {
    position: relative;
  }
  &-color {
    background: linear-gradient(
      178deg,
      rgba(9, 14, 23, 0) -0.4%,
      #090e17 65.11%
    );
    height: 864px;
    width: 100%;
    position: absolute;
    top: 17%;
  }
  &__tree {
    width: 564px;
    height: 328px;
    background: url(./img/tree-mini.png);
    background-repeat: no-repeat;
    position: absolute;
    top: -120px;
  }
}

.spaInfo {
  position: relative;
  &__title {
    position: absolute;
    right: 0;
    top: -88px;
    width: 50%;
    @include text-property;
    font-family: "Mirra Auriolic";
    color: $brown;
    font-size: 350px;
    font-style: normal;
    font-weight: 400;
    line-height: 261px;
    letter-spacing: -17.5px;
    &::before {
      content: "";
      display: block;
      width: 606px;
      height: 606px;
      position: absolute;
      bottom: 100px;
      left: -120px;
      z-index: -1;
      border-radius: 331.5px;
      border: 0.9px solid $brown;
    }
  }
  &__desc {
    position: relative;
    top: 910px;
    width: 350px;
  }
}

.inSpa {
  position: relative;
  top: 850px;
  right: -750px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  &:before {
    content: "";
    display: block;
    width: 608px;
    height: 608px;
    position: absolute;
    z-index: 1;
    top: -97px;
    left: 14px;
    right: 10p;
    border-radius: 367px;
    background: #805140;
  }
  &__title {
    position: relative;
    z-index: 1;
    width: 229px;
    margin-top: -12px;
    @include text-property;
    font-family: "Poiret One";
    font-size: 56px;
    line-height: 80.5%;
    letter-spacing: -2.8px;
  }
  &__list {
    position: relative;
    z-index: 1;
    @include flex-col(26px);
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
  }
}

.spaPhoto {
  margin-top: 700px;
  margin-bottom: 320px;
  display: flex;
  flex-wrap: wrap;
  &__big {
    position: absolute;
    top: 2160px;
    left: -170px;
    white-space: nowrap;
  }
  &__imgBlock {
    width: 50%;
    position: relative;
    & img {
      margin-bottom: 18px;
    }
    & p {
      width: 20%;
    }
    &:nth-of-type(2) {
      top: 410px;
      display: flex;
      flex-direction: column-reverse;
      gap: 18px;
    }
    &:last-of-type {
      top: 250px;
      left: 25%;
    }
  }
  &:last-of-type {
    top: 162px;
    left: 367px;
  }
}

.slider-spa {
  height: 612px;
  & .slick-list {
    width: 1920px;
    overflow: visible;
    margin: 0 auto;
    padding: 0 !important;
  }
  & .slick-center {
    & .master__lastText-text {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      transform: 0.5s;
    }
    & img {
      position: relative;
      z-index: 1;
      transform: scale(1.15);
      opacity: 1;
      transition: 0.5s;
    }
  }
  & img {
    height: 576px;
    aspect-ratio: 1 / 1;
    opacity: 0.4;
    transition: 0.5s;
  }
  & svg {
    top: 47%;
    left: 28%;
    &.slider__arrow-right {
      right: 28%;
      left: unset;
    }
  }
}

.lake {
  &__img {
    width: 100%;
  }
  & .title-big {
    position: relative;
    bottom: 105px;
  }
  &__text {
    display: flex;
    width: 66%;
    margin-left: 25%;
    margin-bottom: 223px;
    &-left {
      margin-right: 35px;
    }
  }
}

.slider-lake {
  & .slick-slide {
    margin-right: 18px;
  }
  & svg {
    bottom: -80px;
    &.slider__arrow-right {
      margin-left: 350px;
      bottom: -82px;
    }
  }
}

.near {
  position: relative;
  margin-top: 250px;
  margin-bottom: 270px;
  &-square {
    position: absolute;
    z-index: -1;
    top: 114px;
    right: 0;
    width: 1000px;
    height: 478px;
    background-color: $brown;
  }
  &__top {
    position: relative;
    z-index: -1;
    color: $brown;
  }
}

.slider-near {
  bottom: 150px;
  &__img {
    margin-left: 25%;
    & img:last-of-type {
      margin-bottom: 195px;
      margin-left: -7px;
    }
  }
  &__text {
    margin-top: 18px;
    display: flex;
    & h3 {
      width: 43%;
    }
    & p {
      width: 18%;
    }
  }
  & + .slider__num {
    position: absolute;
    bottom: 207px;
    right: -118px;
    align-items: flex-end;
  }
  & svg {
    top: 60%;
    &.slider__arrow-right {
      right: -49px;
    }
  }
}

.guestHouse {
  margin-bottom: 395px;
  height: 655px;
  & .title {
    width: 357px;
  }
  & .container {
    @include flex(20px);
    flex-wrap: nowrap;
  }
  &__left {
    height: 100%;
    @include flex-col(30px);
    justify-content: space-between;
  }
  &__text {
    width: 270px;
    color: $lilac;
    &-big {
      margin-bottom: 40px;
      color: $light;
      @include text-property;
      font-family: "Poiret One";
      font-size: 65px;
      line-height: 77px;
      letter-spacing: -3.25px;
    }
  }
}

.slider-guest-one {
  width: 733px !important;
  & .slick-slide img {
    width: 733px !important;
    height: 655px;
  }
}

.slider-guest-all {
  z-index: 1;
  & .slick-slide {
    margin-right: 18px;
    width: 182px !important;
    & img {
      height: 655px;
      object-fit: cover;
    }
  }
  & svg {
    left: -715px;
    bottom: 60px;
    &.slider__arrow-right {
      left: -90px;
    }
  }
}

.land {
  position: relative;
  margin-bottom: 250px;
  & .title {
    width: 75%;
    margin-top: 14px;
  }
  &__top {
    @include flex(30px);
    align-items: start;
    &-width {
      @include flex(30px);
      justify-content: space-between;
    }
  }
  &__list {
    @include flex-col(26px);
    @include text-property;
    font-size: 24px;
    font-weight: 200;
    line-height: 80%;
    letter-spacing: -1.2px;
  }
  &__bottom {
    margin-top: 143px;
  }
  &__left {
    position: absolute;
    z-index: -1;
    left: -237.5px;
    top: 80px;
    width: 720px;
    height: 1206px;
    background-color: #805140;
    &-bottom {
      width: 409px;
      position: absolute;
      bottom: 0;
      right: 75px;
    }
  }
}

.slider-where {
  & svg {
    bottom: -80px;
    &.slider__arrow-right {
      margin-left: 450px;
    }
  }
}

.where {
  margin-bottom: -40px;
  .title {
    margin-left: 50%;
  }
  & .list {
    margin: 186px 0 150px;
  }
  &__map {
    width: 100%;
    position: relative;
    z-index: -1;
    bottom: 30px;
  }
}

.slider-where .slick-slide {
  margin-right: 18px;
}

.distance {
  display: flex;
  &__item {
    height: 75px;
    width: 33%;
    padding-left: 30px;
    @include flex(62px);
    background: $blue;
    border-left: 1px solid $lilac;
    &-bg {
      background: $brown;
      border: 0;
    }
  }
}

.formBottom {
  position: relative;
  &__text {
    position: absolute;
    top: 357px;
    left: 100px;
    font-size: 336px;
    @include text-property;
    font-family: "Mirra Auriolic";
    text-transform: uppercase;
    letter-spacing: -13.433px;
    white-space: nowrap;
  }
  &::before {
    content: "";
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    height: 470px;
    background: linear-gradient(2deg, #b3d6e4 45.57%, #82c5df 88.07%);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 825px;
    background: url(./img/form.png) no-repeat 100%;
    background-size: cover;
  }
}

.getAnswer {
  position: relative;
  left: 58%;
  bottom: 245px;
  z-index: 1;
  width: 482px;
  padding: 55px 60px 82px 65px;
  background-color: #805140;
  &__title {
    @include text-property;
    font-family: "Mirra Auriolic", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 103%;
    letter-spacing: -2.5px;
  }
  &__desc {
    margin: 25px 0 63px;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
  }
  &__input {
    width: 350px;
    height: 40px;
    padding: 7px 27px;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid rgba(230, 230, 230, 0.3);
    border-left: 1px solid rgba(230, 230, 230, 0.3);
    color: $light;
    font-family: "Inter";
    font-size: 16px;
    line-height: 140%;
    &:focus {
      border-bottom: 1px solid $light;
      border-left: 1px solid $light;
    }
    &::placeholder {
      color: $light;
      font-family: "Inter";
      font-size: 16px;
      line-height: 140%;
    }
    &::-webkit-input-placeholder {
      color: $light;
      font-family: "Inter";
      font-size: 16px;
      line-height: 140%;
    }
    &::-moz-placeholder {
      color: $light;
      font-family: "Inter";
      font-size: 16px;
      line-height: 140%;
    }
    &::-ms-input-placeholder {
      color: $light;
      font-family: "Inter";
      font-size: 16px;
      line-height: 140%;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: $light;
      -webkit-box-shadow: 0 0 0px 40rem $brown inset;
      color: $light;
      font-family: "Inter";
      font-size: 16px;
      line-height: 140%;
    }
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $light;
    }
    &:first-of-type {
      margin-bottom: 40px;
    }
  }
  &__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    background-color: $light;
    color: $brown;
    font-size: 24px;
    font-weight: 500;
    line-height: 25.8px;
    &:hover {
      background: $orange;
    }
  }
  &__policy {
    margin-top: 77px;
    font-size: 13px;
    font-weight: 300;
    line-height: 17.8px;
  }
}

.footer {
  & .container {
    display: flex;
    flex-wrap: wrap;
    padding: 150px 0;
  }
  &__left {
    width: 50%;
    @include flex-col(30px);
    justify-content: space-between;
  }
  &__middle {
    width: 35%;
    @include flex-col(30px);
    justify-content: space-between;
  }
  &__title {
    width: 355px;
    font-family: "Mirra Auriolic", sans-serif;
    font-size: 90px;
    line-height: 96%;
    letter-spacing: -4.5px;
  }
  &__desc {
    width: 315px;
  }
  & .submenu__contacts {
    text-align: left;
  }
  & .menuList__item {
    font-weight: 200;
  }
}

@media (max-width: 1925px) {
  body {
    font-size: 18px;
  }
  .submenu {
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    & .container {
      padding: 130px 0 100px;
    }
    & .submenu__title {
      font-size: 78px;
      line-height: 96%;
      letter-spacing: -3.9px;
    }
    &__letter-size {
      font-size: 157.357px;
      line-height: 47.732px;
      letter-spacing: -7.868px;
    }
    &__text {
      padding: 0;
    }
  }
  .main {
    background-size: 100% 1572px;
  }
  .container {
    max-width: 1170px;
  }
  .mainScreen__title {
    font-size: 155px;
    line-height: 99.137px;
    letter-spacing: -7.75px;
  }
  .mainScreen__desc {
    position: absolute;
    top: 21%;
    width: 29%;
    font-size: 16px;
  }
  .mainScreen__title-letter {
    margin: 0 70px;
  }
  .circle.circle-main {
    top: -310px;
    left: -322px;
    transform: scale(0.45);
  }
  .mainScreen {
    height: 620px;
  }
  .form__title {
    font-size: 44px;
    line-height: 89%;
    letter-spacing: -2.2px;
  }
  .form__input,
  .getAnswer__input {
    font-size: 16px;
    &::placeholder {
      font-size: 16px;
    }
    &::-webkit-input-placeholder {
      font-size: 16px;
    }
    &::-moz-placeholder {
      font-size: 16px;
    }
    &::-ms-input-placeholder {
      font-size: 16px;
    }
    &:focus {
      font-size: 16px;
    }
  }
  .btn {
    font-size: 18px;
    font-weight: 300;
  }
  .list__item {
    font-size: 56px;
    line-height: 77%;
    letter-spacing: -2.8px;
  }
  .list__item-color {
    font-size: 18px;
    font-weight: 300;
  }
  .title.foryou__title {
    margin-top: 90px;
    font-size: 106px;
    line-height: 81%;
  }
  .circle.circle-foryou {
    top: 80px;
    left: 300px;
    right: unset;
    z-index: 1;
  }
  .form {
    padding: 140px 0 155px;
  }
  .effect-reels {
    display: none;
  }
  .master__middle {
    max-width: 1366px;
  }
  .master__middle img:first-of-type {
    width: 688px;
    height: 743px;
  }
  .master__middle .master__imgBlock img {
    width: 378px;
    height: 504px;
  }
  .master__middle-imgTop {
    width: 372px;
    height: 516px;
    right: 176px;
  }
  .master__middle .master__imgBlock {
    top: 480px;
  }
  .title {
    font-size: 78px;
    line-height: 96%;
    letter-spacing: -3.9px;
  }
  .master__floor-title {
    font-size: 56px;
    line-height: 77%;
    letter-spacing: -2.8px;
  }
  .master__floor-list {
    margin: 29px 61px 0 23px;
    font-size: 18px;
  }
  .master__aboutHouse {
    gap: 78px;
  }
  .master__aboutHouse-text {
    width: 373px;
  }
  .master__square-brown {
    left: 687px;
    height: 1254px;
    width: 297px;
  }
  .master__floor > div {
    width: 297px;
  }
  .master__square-letter {
    bottom: 545px;
    left: 97px;
    font-size: 121.045px;
    line-height: 36.717px;
    letter-spacing: -6.052px;
  }
  .circle.circle-master {
    bottom: 125px;
    left: -202px;
    transform: scale(0.4);
  }
  .circle.circle-master-bottom {
    bottom: -100px;
    right: -191px;
    transform: scale(0.5);
  }
  .title-thebiggest {
    font-size: 428px;
    line-height: 92%;
    letter-spacing: -21.4px;
  }
  .master__middle {
    margin-bottom: 670px;
  }
  .master__text-one {
    left: -580px;
    top: -100px;
  }
  .master__bottom .master__imgBlock {
    gap: 122px;
  }
  .master__bottom .master__imgBlock p {
    width: 196px;
    font-size: 16px;
  }
  .master__imgBlock:first-of-type img {
    width: 472px;
    height: 631px;
  }
  .master__bottom .master__imgBlock:last-of-type img {
    width: 572px;
    height: 483px;
  }
  .master__bottom .master__imgBlock:last-of-type {
    bottom: 70px;
    left: -36px;
  }
  .slider-master img,
  .slider-spa img {
    height: 448.994px;
  }
  .slider-master .slick-center img,
  .slider-spa .slick-center img {
    transform: scale(1.28);
  }
  .slider-master .slick-list,
  .slider-spa .slick-list {
    width: 1360px;
  }
  .master__lastText {
    margin-top: 0;
    bottom: 82px;
  }
  .master__lastText-text {
    width: 301px;
  }
  .slider-master svg,
  .slider-spa svg {
    top: 35%;
  }
  .slider__num {
    font-size: 48px;
    line-height: 80.5%;
    letter-spacing: -2.4px;
  }
  .master__lastText-orange {
    width: 178px;
    font-size: 50px;
    line-height: 60%;
    letter-spacing: -2.5px;
  }
  .master__bottom {
    margin-bottom: 160px;
  }
  .master__text-two {
    top: -303px;
  }
  .slider-master svg {
    left: 25%;
  }
  .slider-spa svg {
    left: 28%;
  }
  .slider-master svg.slider__arrow-right {
    right: 25%;
  }
  .slider-spa svg.slider__arrow-right {
    right: 12%;
  }
  .slider-spa {
    left: -95px;
    top: 160px;
  }
  .slider-spa + .master__lastText {
    bottom: -73px;
  }
  .master__lastText-text {
    margin-left: -61px;
  }
  .master {
    margin-bottom: 445px;
  }
  .spaInfo__title {
    top: -140px;
    font-size: 220px;
    line-height: 78%;
    letter-spacing: -11px;
  }
  .spaInfo__title::before {
    content: "";
    width: 473px;
    height: 473px;
    position: absolute;
    bottom: 0;
  }
  .spa-color {
    height: 600px;
  }
  .spaInfo__desc {
    top: 750px;
    width: 277px;
    font-size: 16px;
  }
  .inSpa__title {
    font-size: 48px;
    line-height: 80.5%;
    letter-spacing: -2.4px;
  }
  .inSpa__list {
    font-size: 18px;
  }
  .inSpa {
    top: 650px;
    right: -600px;
  }
  .inSpa:before {
    width: 572px;
    height: 572px;
  }
  .spaPhoto {
    margin-top: 500px;
  }
  .spaPhoto__imgBlock:first-of-type img {
    width: 474px;
    height: 631px;
  }
  .spaPhoto__imgBlock:nth-of-type(2) img {
    width: 473px;
    height: 564px;
  }
  .spaPhoto__imgBlock:last-of-type img {
    width: 473px;
    height: 629px;
  }
  .spaPhoto__imgBlock p {
    width: 30%;
  }
  .spaPhoto__big {
    top: 1700px;
  }
  .lake .container {
    margin-top: -120px;
  }
  .lake .title-big {
    font-size: 220px;
    line-height: 78%;
    letter-spacing: -11px;
  }
  .lake__text {
    margin-bottom: 126px;
    font-size: 16px;
  }
  .slider-near {
    bottom: 180px;
  }
  .slider-near__img img:first-of-type {
    width: 596px !important;
  }
  .slider-near__img img:last-of-type {
    width: 277px !important;
  }
  .near-square {
    top: 84px;
    width: 1000px;
    height: 478px;
    height: 393px;
    width: 800px;
  }
  .slider-near svg {
    top: 60%;
  }
  .slider-near svg.slider__arrow-right {
    right: -87px;
  }
  .near {
    margin-bottom: 80px;
  }
  .guestHouse .title {
    width: 277px;
  }
  // .slider-guest-one .slick-slide, .slider-guest-one .slick-slide img {
  //   width: 573px !important;
  // height: 511px;
  // }
  // .slider-guest-all .slick-slide, .slider-guest-all .slick-slide img {
  //   height: 511px;
  //   width: 142px !important;
  // }
  .land__top {
    flex-wrap: nowrap;
  }
  .land .title {
    width: 70%;
  }
  .circle.circle-land {
    width: 400px;
    height: 400px;
    top: -95px;
    right: 290px;
    transform: scale(0.4);
  }
  .where .list {
    margin: 132px 0 105px;
  }
  .formBottom__text {
    top: 163px;
    left: -110px;
    font-size: 268.668px;
    line-height: 200.349px;
    letter-spacing: -13.433px;
  }
  .getAnswer {
    padding: 38px;
  }
  .getAnswer__title {
    font-size: 44px;
    line-height: 111%;
    letter-spacing: -2.2px;
  }
  .getAnswer__desc {
    margin: 30px 0;
    font-weight: 300;
    line-height: normal;
  }
  .getAnswer__input:first-of-type {
    margin-bottom: 20px;
  }
  .getAnswer__policy {
    width: 294px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .getAnswer__btn.btn {
    height: 47px;
    font-weight: 500;
  }
  .footer__title {
    width: 474px;
    font-size: 78px;
    line-height: 96%;
    letter-spacing: -3.9px;
  }
  .formBottom {
    margin-bottom: -100px;
  }
  .footer .container {
    padding: 130px 0;
  }
  .menuList {
    gap: 22px;
    font-weight: 300;
  }
  .submenu__contacts {
    font-weight: 500;
    line-height: 80%;
    letter-spacing: -0.9px;
  }
  .footer__desc {
    font-size: 16px;
  }
  .footer__year {
    font-size: 20px;
  }
  .submenu__contacts {
    gap: 27px;
  }
}

@media (max-width: 1366px) {
  .submenu::before {
    width: 100%;
    height: 651px;
    top: 283px;
  }
  .submenu::after {
    width: 100%;
    height: 283px;
  }
  .submenu .container {
    padding: 106px 35px 59px 40px;
  }
  .submenu__menu {
    height: auto;
    width: 100%;
  }
  .menuList {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 110px;
    &__item {
      width: 50%;
    }
  }
  .submenu__letter {
    top: 79%;
    left: 180px;
  }
  .submenu__letter-size {
    font-size: 125.799px;
    line-height: 38.159px;
    letter-spacing: -6.29px;
  }
  .submenu__letter::after {
    width: 100vw;
  }
  .submenu__text {
    flex-direction: row;
    margin-top: 140px;
  }
  .submenu__contacts {
    margin-bottom: 15px;
    text-align: left;
    gap: 27px;
    width: 73%;
  }
  .main {
    background-size: inherit;
    background-position-x: center;
  }
  .container {
    max-width: 100%;
    padding: 0 35px 0 40px;
  }
  .mainScreen__desc {
    position: absolute;
    top: unset;
    bottom: 460px;
    width: 296.5px;
  }
  .mainScreen {
    height: 1265px;
  }
  .mainScreen__title {
    width: 80%;
    line-height: 79.1%;
    margin-left: 115px;
  }
  .mainScreen__title-letter {
    margin: 0 70px 0 0;
  }
  .circle.circle-main {
    top: -279px;
  }
  .form .container {
    width: 663px;
    height: 360px;
    flex-direction: column;
  }
  .form form {
    width: 436px;
    height: auto;
    margin-top: 37px;
    flex-direction: column;
  }
  .form__title {
    height: auto;
    margin-top: 57px;
    font-size: 68px;
    line-height: 89%;
    letter-spacing: -3.4px;
  }
  .form__input {
    width: 100%;
    height: 54px;
    border: 0;
    border-top: 1px solid $lilac;
    border-bottom: 1px solid $lilac;
    text-align: center;
    padding-left: 0;
    &:last-of-type {
      border-top: 0;
    }
  }
  .form .btn {
    width: 100%;
    height: 54px;
    position: relative;
    top: 70px;
  }
  .form {
    padding: 150px 0 210px;
  }
  .list {
    justify-content: start;
    gap: 48px 38px;
  }
  .list__item {
    width: 29%;
  }
  .title.foryou__title {
    margin-top: 225px;
  }
  .tree {
    width: 100%;
    right: -260px;
    transform: scale(0.6);
  }
  .tree-main {
    top: 6%;
  }
  .tree-copy {
    top: 15%;
  }
  .foryou {
    margin-bottom: 187px;
  }
  .slider-reels svg {
    bottom: -49px;
  }
  .slider-reels svg.slider__arrow-right {
    bottom: -52px;
  }
  .slider__num {
    margin-top: -30px;
  }
  .master__top.container {
    flex-direction: column;
    gap: 64px;
  }
  .master__aboutHouse {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
  .master__aboutHouse-text {
    width: 56%;
  }
  .master__floor {
    left: 10px;
    width: 100%;
  }
  .master__floor > div {
    width: 50%;
  }
  .master__middle {
    flex-direction: column;
  }
  .master__middle img:first-of-type {
    width: 749px;
    height: 809px;
    margin: 0 auto;
  }
  .master__middle-imgTop {
    position: absolute;
    width: 50%;
    height: auto;
    bottom: 150px;
    right: 0;
  }
  .master__imgBlock:first-of-type img {
    width: 437px;
    height: 582.667px;
  }
  .master__middle .master__imgBlock {
    top: 450px;
    left: calc((100vw - 473px) / 2);
  }
  .master__square-brown {
    left: 0;
    top: -514px;
    width: 50%;
    height: 1833px;
  }
  .circle.circle-master {
    bottom: -155px;
    left: -163px;
  }
  .master__square-letter {
    bottom: 269px;
    left: 139px;
  }
  .circle.circle-master-bottom {
    bottom: -138px;
    right: 112px;
  }
  .title-thebiggest {
    font-size: 332px;
    line-height: 92%;
    letter-spacing: -16.6px;
  }
  .master__text-one {
    left: -510px;
    top: -130px;
  }
  .master__bottom .master__imgBlock {
    margin-left: 0;
  }
  .master__bottom .master__imgBlock {
    gap: 22px;
  }
  .master__bottom .master__imgBlock:last-of-type img {
    width: 435px;
    height: 367px;
  }
  .slider-master img {
    width: 517.384px !important;
    height: 516.487px;
  }
  .slider-master .slick-list,
  .slider-spa .slick-list {
    width: 768px;
    left: -137px;
  }
  .slider-spa .slick-list {
    left: -35px;
  }
  .master__lastText-orange {
    display: none;
  }
  .slider-master svg {
    top: 44%;
  }
  .slider-master svg {
    left: 1%;
  }
  .slider-master svg.slider__arrow-right {
    right: 1%;
  }

  .slider-spa svg {
    top: 37%;
  }
  .slider-spa svg {
    left: 16%;
  }
  .slider-spa svg.slider__arrow-right {
    right: -12%;
  }
  .master__lastText .slider__num {
    position: absolute;
    right: 43px;
    top: 80px;
    margin-top: 0;
  }
  .master__lastText-text {
    padding-top: 10px;
  }
  .spaInfo__title {
    top: -121px;
    right: 50px;
    font-size: 194px;
    line-height: 74%;
    letter-spacing: -9.7px;
  }
  .spa-color {
    height: 145px;
    top: 14%;
  }
  .spa__tree {
    width: 464px;
    height: 260px;
    left: -101px;
  }
  .spaInfo__title::before {
    width: 436px;
    height: 436px;
  }
  .spaInfo__desc {
    top: 400px;
  }
  .inSpa {
    top: 530px;
    right: -80px;
  }
  .circle.circle-spa {
    left: -48px;
    bottom: -313px;
  }
  .spaPhoto {
    margin-top: 800px;
  }
  .spaPhoto__imgBlock:first-of-type img {
    width: 435px;
    height: 579.082px;
  }
  .spaPhoto__imgBlock:nth-of-type(2) img {
    position: relative;
    right: 95px;
    width: 435px;
    height: 518.689px;
  }
  .spaPhoto__imgBlock:last-of-type {
    top: 330px;
    left: 0;
    &img {
      height: 578.467px;
      width: 435px;
    }
  }
  .spaPhoto__imgBlock p {
    width: 50%;
  }
  .lake .title-big {
    font-size: 160px;
  }
  .lake__text {
    display: flex;
    flex-direction: column;
    gap: 33px;
  }
  .lake .container {
    margin-top: 25px;
  }
  .slider-lake svg.slider__arrow-right {
    bottom: -45px;
  }
  .slider-lake svg {
    bottom: -44px;
  }
  .slider-near__img img:first-of-type {
    width: 456px !important;
    height: 301px;
  }
  .slider-near__img img:last-of-type {
    width: 194px !important;
    height: 203px;
  }
  .slider-near__img {
    margin-left: 15%;
  }
  .slider-near__img img:last-of-type {
    margin-bottom: 98px;
  }
  .slider-near {
    bottom: 81px;
  }
  .slider-near__text {
    flex-wrap: wrap;
  }
  .slider-near__text p {
    width: 319px;
  }
  .near-square {
    width: 30%;
    top: 107px;
  }
  .slider-near + .slider__num {
    position: absolute;
    bottom: 580px;
    right: 35px;
  }
  .title-big {
    font-size: 160px;
    line-height: 116%;
    letter-spacing: -8px;
  }
  .near__top {
    bottom: 28px;
  }
  .near {
    margin-bottom: 300px;
  }
  .guestHouse {
    margin-bottom: 300px;
  }
  .land__top-width {
    width: 60%;
    margin-top: 17px;
  }
  .land__left {
    height: 980px;
    left: 0;
    top: 73px;
    width: 47%;
  }
  .land__left-bottom {
    display: none;
  }
  .where .title {
    margin-left: 0;
  }
  .land__bottom {
    margin-top: 52px;
  }
  .where {
    margin-top: -103px;
  }
  .where .list__item {
    width: 47%;
  }
  .distance__item-bg {
    width: 50%;
  }
  .distance__item {
    padding: 0;
  }
  .getAnswer {
    left: 21%;
  }
  .formBottom {
    margin: 0;
  }
  .footer .container {
    padding: 96px 40px;
    flex-direction: column;
    gap: 80px;
  }
  .footer__left,
  .footer__middle,
  .footer .submenu__contacts {
    width: 100%;
  }
  .footer__year {
    position: absolute;
    right: 40px;
    bottom: 110px;
  }
  .footer__desc {
    width: 208px;
    position: absolute;
    right: 165px;
    top: 244px;
  }
}

@media (max-width: 768px) {
  .submenu .container {
    padding: 79px 35px 0 40px;
  }
  .submenu::after {
    height: 63%;
  }
  .submenu::before {
    height: 300px;
    top: 63%;
  }
  .menuList {
    flex-wrap: nowrap;
    height: auto;
  }
  .submenu__letter::after {
    content: none;
  }
  .submenu__letter-size {
    font-size: 90.783px;
    line-height: 27.538px;
    letter-spacing: -4.539px;
  }
  .submenu__letter {
    top: 63%;
    left: unset;
    right: 100px;
  }
  .circle.circle-header {
    top: -354px;
    left: -350px;
    z-index: 1;
    transform: scale(0.35);
  }
  .submenu__text {
    height: min-content;
    margin-top: 0;
    flex-direction: column;
  }
  .submenu__contacts {
    width: 100%;
  }
  .submenu__text {
    padding-top: 100px;
  }
  .submenu .submenu__title {
    margin-top: 36px;
  }
  .main {
    background-size: 1200px;
  }
  .container {
    padding: 0 30px;
  }
  .header__tel {
    display: none;
  }
  .mainScreen {
    height: 1100px;
  }
  .mainScreen__title {
    font-size: 84px;
    line-height: 79.1%;
    letter-spacing: -4.2px;
  }
  .mainScreen__desc {
    bottom: 330px;
  }
  .mainScreen__title {
    width: 67%;
    margin-left: 35px;
  }
  .mainScreen__title-letter {
    margin: 0 24px 0 0;
  }
  .circle.circle-main {
    top: -350px;
    left: -362px;
    transform: scale(0.2);
  }
  .form .container {
    width: 80%;
    min-width: 335px;
  }
  .form {
    padding: 67px 0 80px;
  }
  .form form {
    width: 80%;
    min-width: 280px;
  }
}

@media (max-width: 430px) {
}
