@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.woff2") format("woff2") url("./fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2") url("./fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Light.woff2") format("woff2") url("./fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-ExtraLight.woff2") format("woff2") url("./fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Mirra Auriolic", sans-serif;
  src: url("./fonts/mirra.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poiret One", sans-serif;
  src: url("./fonts/PoiretOne-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #090e17;
  background-repeat: no-repeat;
  color: #e6e6e6;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  position: relative;
  color: #e6e6e6;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: #151e2d;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

.header,
.main,
.footer {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.container {
  position: relative;
  max-width: 1489px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid rgba(230, 230, 230, 0.4);
  position: absolute;
  z-index: 2;
  top: 0;
  height: 67px;
}
.header .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.submenu {
  width: 100%;
  height: 614px;
  position: absolute;
  top: 0;
  z-index: 4;
  display: flex;
  font-kerning: none;
  font-variant-numeric: stacked-fractions ordinal;
  font-feature-settings: "dlig" on, "liga" off;
  font-size: 24px;
  letter-spacing: -1.2px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: 0.5s;
}
.submenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  transition: 0.5s;
}
.submenu .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.submenu::after {
  content: "";
  width: 30%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  background-color: #805140;
}
.submenu::before {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: -1;
  background-color: #151e2d;
}
.submenu__menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submenu__info {
  font-size: 24px;
  font-weight: 300;
  line-height: 45.5px;
  letter-spacing: -1.2px;
}
.submenu__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  justify-content: space-between;
  height: 100%;
  padding: 155px 0 135px;
}
.submenu__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  text-align: right;
  font-size: 24px;
  font-weight: 300;
  line-height: 45.5px;
  letter-spacing: -1.2px;
}
.submenu__title {
  font-family: "Mirra Auriolic", sans-serif;
  font-size: 90px;
  letter-spacing: -4.5px;
}
.submenu__letter {
  position: absolute;
  top: 48%;
  left: 43%;
}
.submenu__letter::after {
  content: "";
  display: inline-block;
  width: 53.5vw;
  position: absolute;
  top: 0;
  left: 88%;
  border-bottom: 1px solid #e6e6e6;
}
.submenu__letter-size {
  font-family: "Mirra Auriolic", sans-serif;
  font-size: 171px;
  font-style: normal;
  font-weight: 400;
  line-height: 51.9px;
  letter-spacing: -8.5px;
}

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  line-height: 80%;
}

.burger {
  position: relative;
  z-index: 5;
  width: 72px;
  height: 67px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
  background: #805140;
  transition: 0.5s;
  cursor: pointer;
}
.burger:hover {
  background: #c96845;
}
.burger__line {
  width: 45px;
  height: 2px;
  background-color: #e6e6e6;
  border-radius: 5px;
  transition: 0.5s;
}
.burger.active .burger__line:nth-of-type(1) {
  display: none;
}
.burger.active .burger__line:nth-of-type(2) {
  transform: rotate(45deg);
}
.burger.active .burger__line:nth-of-type(3) {
  transform: rotate(-45deg);
  margin-top: -10px;
}

.circle {
  position: absolute;
  font-family: "Poiret One", sans-serif;
  font-kerning: none;
  font-variant-numeric: stacked-fractions ordinal;
  font-feature-settings: "dlig" on, "liga" off;
}
.circle.circle-main {
  position: absolute;
  bottom: 0;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 80px;
}
.circle.circle-header {
  position: absolute;
  bottom: 0;
  font-size: 17px;
  line-height: 51px;
}
.circle-bottom {
  transform: scale(-1, -1);
}

.color {
  position: absolute;
  height: 895px;
  width: 100%;
  background: linear-gradient(201deg, #f8956a 33%, rgba(255, 102, 36, 0) 71%);
  mix-blend-mode: overlay;
}

.effect {
  position: absolute;
  right: 0;
  width: 996px;
  height: 3703px;
  border: 1px solid #000;
  opacity: 0.3;
  background: #090e17;
  filter: blur(532px);
}
.effect-reels {
  position: absolute;
  bottom: 0;
  right: -10%;
  width: 1063px;
  height: 1063px;
  border-radius: 1063px;
  background: #313c50;
  filter: blur(297px);
}

.slider {
  position: relative;
}
.slider__img {
  width: 2000px;
  display: flex;
  gap: 18px;
}
.slider__arrow {
  width: 480px;
  margin-top: 18px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.slider__arrow svg {
  fill: #e6e6e6;
  cursor: pointer;
  transition: 0.5s;
}
.slider__arrow svg:hover {
  fill: #c96845;
}

.main {
  background: linear-gradient(250deg, rgba(9, 14, 23, 0) 0, #090e17 150%), url("./img/main.jpg"), 0px 0px/100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2228px;
}

.mainScreen {
  height: 895px;
  position: relative;
  z-index: 1;
}
.mainScreen__desc {
  position: absolute;
  top: 35%;
  width: 22.6%;
  padding-left: 35px;
  border-left: 2px solid #e6e6e6;
}
.mainScreen__text {
  position: absolute;
  bottom: 0;
  font-kerning: none;
  font-variant-numeric: stacked-fractions ordinal;
  font-feature-settings: "dlig" on, "liga" off;
}
.mainScreen__title {
  font-family: "Mirra Auriolic", sans-serif;
  font-size: 198.5px;
  font-weight: 400;
  line-height: 126.6px;
  letter-spacing: -10px;
}
.mainScreen__title-letter {
  position: relative;
  display: inline-block;
  margin: 0 85px;
}

.title {
  font-kerning: none;
  font-variant-numeric: stacked-fractions ordinal;
  font-feature-settings: "dlig" on, "liga" off;
  font-family: "Mirra Auriolic", sans-serif;
  font-size: 90px;
  font-weight: 400;
  line-height: 96%;
  letter-spacing: -4.5px;
}
.title-big {
  font-kerning: none;
  font-variant-numeric: stacked-fractions ordinal;
  font-feature-settings: "dlig" on, "liga" off;
  font-family: "Mirra Auriolic", sans-serif;
  font-size: 220px;
  font-weight: 400;
  line-height: 78%;
  letter-spacing: -11px;
}

.form {
  padding: 150px 0 265px;
}
.form .container {
  height: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
  flex-wrap: nowrap;
  background-color: #151e2d;
}
.form form {
  width: 76%;
  height: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
  flex-wrap: nowrap;
}
.form__title {
  width: 355px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: center;
  color: #858ab5;
  font-kerning: none;
  font-variant-numeric: stacked-fractions ordinal;
  font-feature-settings: "dlig" on, "liga" off;
  font-family: "Mirra Auriolic", sans-serif;
  font-size: 66px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: -3.3px;
}
.form .btn {
  width: 30%;
}
.form__input {
  width: 36%;
  height: 100%;
  -webkit-appearance: none;
  padding-left: 37px;
  background-color: #151e2d;
  outline: 0;
  border: 0;
  border-left: 1px solid #4a4e73;
  color: #858ab5;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
  transition: 0.5s;
}
.form__input:focus {
  color: #e6e6e6;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
}
.form__input:focus::-moz-placeholder {
  color: #e6e6e6;
}
.form__input:focus::placeholder {
  color: #e6e6e6;
}
.form__input::-moz-placeholder {
  color: #858ab5;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.form__input::placeholder {
  color: #858ab5;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
  transition: 0.5s;
}
.form__input::-webkit-input-placeholder {
  color: #858ab5;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
}
.form__input::-moz-placeholder {
  color: #858ab5;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
}
.form__input::-ms-input-placeholder {
  color: #858ab5;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
}
.form__input:-webkit-autofill, .form__input:-webkit-autofill:hover, .form__input:-webkit-autofill:active {
  -webkit-text-fill-color: #858ab5;
  -webkit-box-shadow: 0 0 0px 40rem #151e2d inset;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
}
.form__input:-webkit-autofill:focus {
  -webkit-text-fill-color: #e6e6e6;
}

.btn {
  height: 100%;
  width: 357px;
  border: 0;
  outline: 0;
  background-color: #805140;
  color: #e6e6e6;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover {
  background-color: #c96845;
}

.foryou {
  position: relative;
  margin-bottom: 275px;
}
.foryou__title {
  width: 60%;
  margin-top: 200px;
  text-align: left;
  color: #858ab5;
  font-size: 150px;
  line-height: 121px;
  letter-spacing: normal;
}

.tree {
  position: absolute;
  right: -9%;
  width: 50%;
  height: 100%;
}
.tree-main {
  top: 22%;
  background: url("./img/tree.png") no-repeat;
}
.tree-copy {
  top: 33%;
  background: url("./img/tree-copy.png") no-repeat;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
  gap: 130px 30px;
  justify-content: space-between;
}
.list__item {
  width: 23%;
  font-kerning: none;
  font-variant-numeric: stacked-fractions ordinal;
  font-feature-settings: "dlig" on, "liga" off;
  font-family: "Poiret One", sans-serif;
  font-size: 65px;
  line-height: 77px;
  letter-spacing: -3.25px;
}
.list__item-color {
  margin-top: 15px;
  color: #858ab5;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 200;
  line-height: 80%;
  letter-spacing: -1.2px;
}

.reels {
  margin-bottom: 335px;
}
.reels .title {
  margin-left: 10px;
  line-height: 48px;
}

.slider-reels img {
  border-radius: 29px;
  transition: 0.5s;
  cursor: pointer;
}
.slider-reels img:hover {
  transform: translateY(-20px);
  box-shadow: #754c3f 0px 20px 70px -20px;
}
.slider-reels .slider__arrow {
  width: 359px;
}

.lake__img {
  width: 100%;
}
.lake .title-big {
  position: relative;
  bottom: 105px;
}
.lake__text {
  display: flex;
  width: 66%;
  margin-left: 25%;
  margin-bottom: 223px;
}
.lake__text-left {
  margin-right: 35px;
}
.lake .slider__arrow {
  width: 281px;
}

.near {
  position: relative;
  margin-top: 250px;
  margin-bottom: 430px;
}
.near-square {
  position: absolute;
  z-index: -1;
  top: 114px;
  right: 0;
  width: 1000px;
  height: 478px;
  background-color: #805140;
}
.near__top {
  position: relative;
  z-index: -1;
  color: #805140;
}
.near__bottom {
  margin-top: -135px;
  display: flex;
}
.near__bottom .title {
  width: 50%;
}
.near__bottom-text {
  width: 22%;
}

.near .slider {
  bottom: 150px;
  right: 100px;
}
.near .slider__img {
  justify-content: center;
}
.near .slider__img img:last-of-type {
  margin-bottom: 195px;
  margin-left: -5px;
}
.near .slider__arrow {
  position: absolute;
  bottom: 120px;
  left: 100px;
  width: 97.5%;
}

.guestHouse {
  margin-bottom: 395px;
  height: 655px;
}
.guestHouse .title {
  width: 357px;
}
.guestHouse .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-wrap: nowrap;
}
.guestHouse__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  justify-content: space-between;
}
.guestHouse__text {
  width: 270px;
  color: #858ab5;
  font-size: 20px;
  line-height: 140%;
}
.guestHouse__text-big {
  margin-bottom: 40px;
  color: #e6e6e6;
  font-kerning: none;
  font-variant-numeric: stacked-fractions ordinal;
  font-feature-settings: "dlig" on, "liga" off;
  font-family: "Poiret One";
  font-size: 65px;
  line-height: 77px;
  letter-spacing: -3.25px;
}

.slider-guest img {
  width: 15.5%;
  height: 655px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-guest img.active {
  width: 733px;
}
.slider-guest .slider__arrow {
  position: absolute;
  width: 733px;
  padding: 0 48px 60px;
  bottom: 0;
}

.land {
  position: relative;
  margin-bottom: 250px;
}
.land .title {
  width: 49%;
  margin-top: 14px;
}
.land__top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: start;
}
.land__top-width {
  width: 48%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.land__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
  font-kerning: none;
  font-variant-numeric: stacked-fractions ordinal;
  font-feature-settings: "dlig" on, "liga" off;
  font-size: 24px;
  font-weight: 200;
  line-height: 80%;
  letter-spacing: -1.2px;
}
.land__bottom {
  margin-top: 143px;
}
.land__left {
  position: absolute;
  z-index: -1;
  left: -239.5px;
  top: 80px;
  width: 720px;
  height: 1206px;
  background-color: #805140;
  font-size: 20px;
  line-height: 140%;
}
.land__left-bottom {
  width: 409px;
  position: absolute;
  bottom: 0;
  right: 75px;
}

.slider-where .slider__arrow {
  width: 480px;
}

.where {
  margin-bottom: -40px;
}
.where .title {
  margin-left: 50%;
}
.where .list {
  margin: 186px 0 150px;
}
.where__map {
  width: 100%;
  position: relative;
  z-index: -1;
  bottom: 30px;
}

.distance {
  display: flex;
}
.distance__item {
  height: 75px;
  width: 33%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 62px;
  background: #151e2d;
  border-left: 1px solid #858ab5;
}
.distance__item-bg {
  background: #805140;
  border: 0;
}

.formBottom {
  position: relative;
}
.formBottom__text {
  position: absolute;
  top: 357px;
  left: 100px;
  font-size: 336px;
  font-kerning: none;
  font-variant-numeric: stacked-fractions ordinal;
  font-feature-settings: "dlig" on, "liga" off;
  font-family: "Mirra Auriolic";
  text-transform: uppercase;
  letter-spacing: -13.433px;
  white-space: nowrap;
}
.formBottom::before {
  content: "";
  position: relative;
  top: 0;
  display: block;
  width: 100%;
  height: 470px;
  background: linear-gradient(2deg, #b3d6e4 45.57%, #82c5df 88.07%);
}
.formBottom:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 825px;
  background: url(./img/form.png) no-repeat 100%;
  background-size: cover;
}

.getAnswer {
  position: relative;
  left: 58%;
  bottom: 245px;
  z-index: 1;
  width: 482px;
  padding: 55px 60px 82px 65px;
  background-color: #805140;
}
.getAnswer__title {
  font-kerning: none;
  font-variant-numeric: stacked-fractions ordinal;
  font-feature-settings: "dlig" on, "liga" off;
  font-family: "Mirra Auriolic", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 103%;
  letter-spacing: -2.5px;
}
.getAnswer__desc {
  margin: 25px 0 63px;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}
.getAnswer__input {
  width: 350px;
  height: 40px;
  padding: 7px 27px;
  background-color: transparent;
  outline: 0;
  border: 0;
  border-bottom: 1px solid rgba(230, 230, 230, 0.3);
  border-left: 1px solid rgba(230, 230, 230, 0.3);
  color: #e6e6e6;
  font-family: "Inter";
  font-size: 16px;
  line-height: 140%;
}
.getAnswer__input:focus {
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
.getAnswer__input::-moz-placeholder {
  color: #e6e6e6;
  font-family: "Inter";
  font-size: 16px;
  line-height: 140%;
}
.getAnswer__input::placeholder {
  color: #e6e6e6;
  font-family: "Inter";
  font-size: 16px;
  line-height: 140%;
}
.getAnswer__input::-webkit-input-placeholder {
  color: #e6e6e6;
  font-family: "Inter";
  font-size: 16px;
  line-height: 140%;
}
.getAnswer__input::-moz-placeholder {
  color: #e6e6e6;
  font-family: "Inter";
  font-size: 16px;
  line-height: 140%;
}
.getAnswer__input::-ms-input-placeholder {
  color: #e6e6e6;
  font-family: "Inter";
  font-size: 16px;
  line-height: 140%;
}
.getAnswer__input:-webkit-autofill, .getAnswer__input:-webkit-autofill:hover, .getAnswer__input:-webkit-autofill:active {
  -webkit-text-fill-color: #e6e6e6;
  -webkit-box-shadow: 0 0 0px 40rem #805140 inset;
  color: #e6e6e6;
  font-family: "Inter";
  font-size: 16px;
  line-height: 140%;
}
.getAnswer__input:-webkit-autofill:focus {
  -webkit-text-fill-color: #e6e6e6;
}
.getAnswer__input:first-of-type {
  margin-bottom: 40px;
}
.getAnswer__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background-color: #e6e6e6;
  color: #805140;
  font-size: 24px;
  font-weight: 500;
  line-height: 25.8px;
}
.getAnswer__btn:hover {
  background: #c96845;
}
.getAnswer__policy {
  margin-top: 77px;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.8px;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
}
.footer__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  justify-content: space-between;
}
.footer__middle {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  justify-content: space-between;
}
.footer__title {
  width: 355px;
  font-family: "Mirra Auriolic", sans-serif;
  font-size: 90px;
  line-height: 96%;
  letter-spacing: -4.5px;
}
.footer .submenu__contacts {
  text-align: left;
}
.footer .menuList__item {
  font-weight: 200;
}/*# sourceMappingURL=style.css.map */